# dependencies
node_modules

# production
build
dist

# editor directories and files
.vscode
.idea
*.sublime-workspace

# environment and IDE specific
.env
.vscode
*.log
*.js.map
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# miscellaneous
*.pdf
*.DS_Store
*.doc(x|m)
*.dot
*.exe
*.xpi
*.ipa
*.app
*.deb
*.rpm
*.msi
*.BIN
*.chm
*.mdb
*.odb
*.psd
*.db
*.tar.gz
*.zip
*.gz
*.bak
*.swp
*.csv
*.sql
*.sqlite
*.sqlite3
*.ora
*.tar
*.tgz
*.rar
*.AUDIT
*.class
*.ics
*.min.css
*.min.js
*.woff
*.woff2
*.ttf
*.eot
*.otf
*.jpeg
*.jpg
*.png
*.gif
*.mp3
*.wav
*.mid
*.midi
*.mpeg
*.avi
*.mov
*.mpg
*.ogv
*.ogm
*.pdf
*.yml
*.yaml
*.json
*.lock
*.node

# temporary files
*.tmp
thumbs.db

# poythopn
__pycache__